
$bluegrey: #353b44;
$darkestBlack:#121214;
$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;

$green: #28af4e;
$grey: rgb(242, 242, 242);
$grey06: rgba(242, 242, 242, 0.6);
$grey06: #939393;
$grey08: #adadad;
$grey01: #262626;
$white: #ffffff;
$red: #c10d34;
$offWhite: #d6d6d6;