@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif; }

div#root {
  height: 100%; }
