@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$darkestBlack:#121214;
$lighterBlack:#212123;

$grey: rgb(242, 242, 242);
$grey06: rgba(242, 242, 242, 0.6);
$white: #ffffff;

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}

div#root {
  height: 100%;
  > div {
    height: 100%;
  }
}

div#main {
  height: 100%;
  color: white;
}

div#network {
  height: 100%;
  // background: -webkit-linear-gradient(#021c44, #9198e5);
  // background: -o-linear-gradient(#021c44, #9198e5);
  // background: linear-gradient(#021c44, #9198e5);
}

svg.svg {
  // background:rgba(0,0,0,0);
  background: -webkit-linear-gradient($lighterBlack, $darkestBlack);
  background: -o-linear-gradient($lighterBlack, $darkestBlack);
  background: linear-gradient($lighterBlack, $darkestBlack);
}

.links line {
  // stroke: #999;
  // stroke-opacity: 0.6;
}

.nodes circle {
  // stroke: #fff;
  // stroke-width: 0px;
  &.selected {
    fill: turquoise
  }
}

div.filter-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  background: $darkestBlack;
  width: 240px;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 0.9;
  transform: translateX(calc(-100% + 35px));
  padding: 20px;
  div.chevron {
    position: absolute;
    top: 18px;
    right: 11px;
    width: 24px;
    &::before {
      border-style: solid;
      border-color:$white;
      opacity: 0.6;
      border-width: 1px 1px 0 0;
      content: '';
      display: inline-block;
      height: 16px;
      transform: rotate(45deg);
      width: 16px;
      transition: 0.2s ease;
    }
  }
  &:hover {
    div.chevron {
      &::before {
        border-color:white;
        opacity: 1;
      }
    }
  }
  &.open {
    transform: translateX(0%);
    div.chevron {
      transform:translate(4px, 0px);
      &::before {
        transform: rotate(-135deg);
      }
    }
    p {
      color: $white;
    }
  }
}

div.filter-inner {
  text-transform: uppercase;
  font-size: 13px;
  nav {
    padding-top: 50px;
    padding-bottom: 5px;
    // background: green;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid $grey06;
    // opacity: 0.6;
    span {
      color: $grey06;
      padding: 10px 15px;
      display: inline-block;
      cursor:default;
      &.selected {
        color: $grey;
      }
      &:hover {
        color: $grey;
      }
    }
  }
  section {

  }
}

#tooltip {
  position: absolute;
  height: auto;
  padding: 5px 10px;
  color: $darkestBlack;
  background: ghostwhite;
  opacity: 0.98;
  font-weight: 400;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  text-align: left;
  &.hidden {
    display: none;
  }
  p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
}

#profile {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 35%;
  height: auto;
  padding: 10px 10px;
  background: $darkestBlack;
  color: ghostwhite;
  opacity: 0.98;
  font-weight: 400;
  text-align: left;
  height: 100%;
  transform: translateX(100%);
  transition: 0.2s ease-out;
  z-index: 100;
  &.open {
    // display: none;
    transform: translateX(0%);
  }
  div.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
    // cursor: pointer;
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 1px;
      background: $white;
    }
    &:hover {
      opacity: 1;
      &:before, &:after {
        background: white;
      }
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 60px;
  }
  h3{
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    margin: 0;
    font-size: 12px;
    padding-bottom: 20px;
    // text-transform: uppercase;
  }
}
