@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$bluegrey: #353b44;
$darkestBlack:#121214;
$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;

$green: #28af4e;
$grey: rgb(242, 242, 242);
$grey06: rgba(242, 242, 242, 0.6);
$grey06: #939393;
$grey08: #adadad;
$grey01: #262626;
$white: #ffffff;
$red: #c10d34;
$offWhite: #d6d6d6;

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}

div#root {
  height: 100%;
  > div {
    height: 100%;
  }
}

div#main {
  position: relative;
  height: 100%;
  color: white;
  background: -webkit-linear-gradient($lighterBlack, $darkestBlack);
  background: -o-linear-gradient($lighterBlack, $darkestBlack);
  background: linear-gradient($lighterBlack, $darkestBlack);
}

div#graph-wrapper {
  position: absolute;
  right: 0;
  width: calc(100vw - 260px);
  top:0;
  height: 100%;
}

div#network {
  height: 100%;
}

svg {
  cursor: default;
  right: 0;
  top: 0;
  position: absolute;

}
canvas {
  right: 0;
  top: 0;
  position: absolute;
}

::selection {
  background: none;
}
::-moz-selection {
  background:none;
}

.links line {
  opacity: 0.6;
  &.not-selected {
    stroke: #353b44;
    opacity: 0.4;
  }

  &.connected {
    stroke: red;
  }
}

.nodes circle {
  &.not-selected {
    fill: #353b44;
  }
}


#tooltip {
  position: absolute;
  height: auto;
  padding: 10px 20px;
  color: $white;
  opacity: 0.98;
  font-weight: 400;
  pointer-events: none;
  text-align: left;
  &.hidden {
    display: none;
  }
  p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
}

#full-details {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: auto;
  background: $darkestBlack;
  color: $offWhite;
  opacity: 0.95;
  font-weight: 400;
  text-align: left;
  height: 100%;
  transform: translateX(100%);
  transition: 0.2s ease-out;
  z-index: 100;
  &.open {
    transform: translateX(0%);
    div.details-inner {
      transform: translateX(0px) !important;
    }

  }
  &.hidden {
    transform: translateX(calc(100% - 50px));
    div.details-inner {
      transform: translateX(50px) !important;
    }
    div.chevron {
      left: 20px !important;
      &::before {
        transform: rotate(-135deg) !important;
        opacity: 1;
        border-color:red;
      }
    }
  }
  div.hide-details-tab {
    position: relative;
    width: 100%;
    height: 55px;
    div.chevron {
      position: absolute;
      top: 19px;
      left: 12px;
      width: 24px;
      transition: 0.2s ease;
      &::before {
        border-style: solid;
        border-color:$white;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease;
        opacity: 0.6;
      }
    }
    &:hover {
      background: $hoverDarkBlack;
      div.chevron {
        &::before {
          opacity: 1;
          border-color:white;
        }
      }
    }
  }
  div.details-inner {
    padding: 5px 20px;
    transition: 0.2s ease;
    transform: translateX(50px);
    h2 {
      text-transform: uppercase;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 10px;
      color: $white;
    }
    h3{
      color: $white;
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 300;
    }
    p {
      margin: 0;
      font-size: 12px;
      padding-bottom: 20px;
      // text-transform: uppercase;
    }
  }
}

div.graph-nav-info {
  display: none;
}

div.full-screen-icon {
  position: absolute;
  top: 24px;
  left: 286px;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  transition: 0.1s ease-out;
  cursor: pointer;
  &:hover {
    width: 25px;
    height: 26px;
    span {
      border: 1px solid $white;
    }
  }
  span {
    width: 7px;
    height: 7px;
    display: inline-block;
    position: absolute;
    border: 1px solid $grey08;
    &:nth-of-type(1) {
      top: 0;
      left: 0;
      border-width: 1px 0px 0px 1px;
    }
    &:nth-of-type(2) {
      top: 0;
      right: 0;
      border-width: 1px 1px 0px 0px;
    }
    &:nth-of-type(3) {
      bottom: 0;
      left: 0;
      border-width: 0px 0px 1px 1px;
    }
    &:nth-of-type(4) {
      bottom: 0;
      right: 0;
      border-width: 0px 1px 1px 0px;
    }
  }
}

div.loader {
  position: absolute;
  top: 45%;
  left: 50%;
  div.retry-button {
    cursor: pointer;
    font-size: 13px;
    transform: translateY(30px);
    padding: 10px 0;
    color: $offWhite;
    &:hover {
      color: white;
    }
  }
  div.bubble {
    animation: expand .75s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 8px;
    width: 20px;
    height: 20px;
    background: $bluegrey;
    &:nth-child(1) {
    }
    &:nth-child(2) {
      animation-delay: 180ms;
    }
    &:nth-child(3) {
      animation-delay: 360ms;
    }
    &:nth-child(4) {
      animation-delay: 540ms;
    }
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}
