@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center; }

div#root {
  height: 100%; }
  div#root > div {
    height: 100%; }

div#main {
  height: 100%;
  color: white;
  background: -webkit-linear-gradient(#212123, #121214);
  background: -o-linear-gradient(#212123, #121214);
  background: linear-gradient(#212123, #121214); }

div#network {
  height: 100%; }

::selection {
  background: none; }

::-moz-selection {
  background: none; }

.nodes circle.selected {
  fill: turquoise; }

#tooltip {
  position: absolute;
  height: auto;
  padding: 5px 10px;
  color: #121214;
  background: ghostwhite;
  opacity: 0.98;
  font-weight: 400;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  text-align: left; }
  #tooltip.hidden {
    display: none; }
  #tooltip p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase; }

#profile {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 35%;
  height: auto;
  background: #121214;
  color: ghostwhite;
  opacity: 0.95;
  font-weight: 400;
  text-align: left;
  height: 100%;
  transform: translateX(100%);
  transition: 0.2s ease-out;
  z-index: 100; }
  #profile.open {
    transform: translateX(0%); }
  #profile div.closeProfileTab {
    position: relative;
    width: 100%;
    height: 55px; }
    #profile div.closeProfileTab div.close-button {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 32px;
      height: 32px;
      opacity: 0.6; }
      #profile div.closeProfileTab div.close-button:before, #profile div.closeProfileTab div.close-button:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 1px;
        background: #ffffff; }
      #profile div.closeProfileTab div.close-button:before {
        transform: rotate(45deg); }
      #profile div.closeProfileTab div.close-button:after {
        transform: rotate(-45deg); }
    #profile div.closeProfileTab:hover {
      background: #19191c; }
      #profile div.closeProfileTab:hover div.close-button {
        opacity: 1; }
        #profile div.closeProfileTab:hover div.close-button:before, #profile div.closeProfileTab:hover div.close-button:after {
          background: white; }
  #profile div.profileInner {
    padding: 20px; }
    #profile div.profileInner h2 {
      text-transform: uppercase;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 10px; }
    #profile div.profileInner h3 {
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 300; }
    #profile div.profileInner p {
      margin: 0;
      font-size: 12px;
      padding-bottom: 20px; }
