@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;

$grey: rgb(242, 242, 242);
$grey06: rgba(242, 242, 242, 0.6);
$grey01: rgba(242, 242, 242, 0.1);
$white: #ffffff;

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}

div#root {
  height: 100%;
  > div {
    height: 100%;
  }
}

div#main {
  height: 100%;
  color: white;
  background: -webkit-linear-gradient($lighterBlack, $darkestBlack);
  background: -o-linear-gradient($lighterBlack, $darkestBlack);
  background: linear-gradient($lighterBlack, $darkestBlack);
}

div#network {
  height: 100%;
  // background: -webkit-linear-gradient($lighterBlack, $darkestBlack);
  // background: -o-linear-gradient($lighterBlack, $darkestBlack);
  // background: linear-gradient($lighterBlack, $darkestBlack);
}

svg.svg {
  // background:rgba(0,0,0,0);
  // background: -webkit-linear-gradient($lighterBlack, $darkestBlack);
  // background: -o-linear-gradient($lighterBlack, $darkestBlack);
  // background: linear-gradient($lighterBlack, $darkestBlack);
}

.links line {
  // stroke: #999;
  // stroke-opacity: 0.6;
}

.nodes circle {
  // stroke: #fff;
  // stroke-width: 0px;
  &.selected {
    fill: turquoise
  }
}


#tooltip {
  position: absolute;
  height: auto;
  padding: 5px 10px;
  color: $darkestBlack;
  background: ghostwhite;
  opacity: 0.98;
  font-weight: 400;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  text-align: left;
  &.hidden {
    display: none;
  }
  p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
}

#profile {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 35%;
  height: auto;
  // padding: 10px 10px;
  background: $darkestBlack;
  color: ghostwhite;
  opacity: 0.95;
  font-weight: 400;
  text-align: left;
  height: 100%;
  transform: translateX(100%);
  transition: 0.2s ease-out;
  z-index: 100;
  &.open {
    // display: none;
    transform: translateX(0%);
  }
  div.closeProfileTab {
    position: relative;
    width: 100%;
    height: 55px;
    div.close-button {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 32px;
      height: 32px;
      opacity: 0.6;
      // cursor: pointer;
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 1px;
        background: $white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      background: $hoverDarkBlack;
        div.close-button {
          opacity: 1;
          &:before, &:after {
          background: white;
        }
      }
    }
  }
  div.profileInner {
    padding: 20px;
    h2 {
      text-transform: uppercase;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 10px;
    }
    h3{
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 300;
    }
    p {
      margin: 0;
      font-size: 12px;
      padding-bottom: 20px;
      // text-transform: uppercase;
    }
  }
}
