@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center; }

div#root {
  height: 100%; }
  div#root > div {
    height: 100%; }

div#main {
  position: relative;
  height: 100%;
  color: white;
  background: -webkit-linear-gradient(#212123, #121214);
  background: -o-linear-gradient(#212123, #121214);
  background: linear-gradient(#212123, #121214); }

div#network {
  height: 100%; }

svg.svg {
  cursor: grab;
  right: 0;
  position: absolute; }

::selection {
  background: none; }

::-moz-selection {
  background: none; }

.links line {
  opacity: 0.6; }
  .links line.not-selected {
    stroke: #353b44;
    opacity: 0.4; }
  .links line.connected {
    stroke: red; }

.nodes circle {
  cursor: default; }
  .nodes circle.not-selected {
    fill: #353b44; }

#tooltip {
  position: absolute;
  height: auto;
  padding: 10px 20px;
  color: #ffffff;
  opacity: 0.98;
  font-weight: 400;
  pointer-events: none;
  text-align: left; }
  #tooltip.hidden {
    display: none; }
  #tooltip p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase; }

#full-details {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: auto;
  background: #121214;
  color: #d6d6d6;
  opacity: 0.95;
  font-weight: 400;
  text-align: left;
  height: 100%;
  transform: translateX(100%);
  transition: 0.2s ease-out;
  z-index: 100; }
  #full-details.open {
    transform: translateX(0%); }
    #full-details.open div.details-inner {
      transform: translateX(0px) !important; }
  #full-details.hidden {
    transform: translateX(calc(100% - 50px)); }
    #full-details.hidden div.details-inner {
      transform: translateX(50px) !important; }
    #full-details.hidden div.chevron {
      left: 20px !important; }
      #full-details.hidden div.chevron::before {
        transform: rotate(-135deg) !important;
        opacity: 1;
        border-color: red; }
  #full-details div.hide-details-tab {
    position: relative;
    width: 100%;
    height: 55px; }
    #full-details div.hide-details-tab div.chevron {
      position: absolute;
      top: 19px;
      left: 12px;
      width: 24px;
      transition: 0.2s ease; }
      #full-details div.hide-details-tab div.chevron::before {
        border-style: solid;
        border-color: #ffffff;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease;
        opacity: 0.6; }
    #full-details div.hide-details-tab:hover {
      background: #19191c; }
      #full-details div.hide-details-tab:hover div.chevron::before {
        opacity: 1;
        border-color: white; }
  #full-details div.details-inner {
    padding: 5px 20px;
    transition: 0.2s ease;
    transform: translateX(50px); }
    #full-details div.details-inner h2 {
      text-transform: uppercase;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 10px;
      color: #ffffff; }
    #full-details div.details-inner h3 {
      color: #ffffff;
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 300; }
    #full-details div.details-inner p {
      margin: 0;
      font-size: 12px;
      padding-bottom: 20px; }

div.full-screen-icon {
  position: absolute;
  top: 18px;
  left: 275px;
  width: 18px;
  height: 18px;
  justify-content: space-between;
  cursor: pointer; }
  div.full-screen-icon:hover span {
    border: 1px solid #ffffff; }
  div.full-screen-icon span {
    width: 7px;
    height: 7px;
    display: inline-block;
    position: absolute;
    border: 1px solid #adadad; }
    div.full-screen-icon span:nth-of-type(1) {
      top: 0;
      left: 0;
      border-width: 1px 0px 0px 1px; }
    div.full-screen-icon span:nth-of-type(2) {
      top: 0;
      right: 0;
      border-width: 1px 1px 0px 0px; }
    div.full-screen-icon span:nth-of-type(3) {
      bottom: 0;
      left: 0;
      border-width: 0px 0px 1px 1px; }
    div.full-screen-icon span:nth-of-type(4) {
      bottom: 0;
      right: 0;
      border-width: 0px 1px 1px 0px; }

.loader {
  position: absolute;
  top: 50%;
  left: 47%; }

.bubble {
  animation: expand .75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 8px;
  width: 20px;
  height: 20px; }

.bubble:nth-child(1) {
  background: #353b44; }

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #353b44; }

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #353b44; }

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: #353b44; }

@keyframes expand {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.55); } }
