@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;

$grey: rgb(242, 242, 242);
$grey06: rgba(242, 242, 242, 0.6);
$grey01: rgba(242, 242, 242, 0.1);
$white: #ffffff;

div.side-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  background: $darkestBlack;
  width: 240px;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 0.95;
  transform: translateX(calc(-100% + 35px));
  div.openNavTab {
    position: relative;
    // background: red;
    width: 100%;
    height: 55px;
    div.chevron {
      position: absolute;
      top: 18px;
      right: 11px;
      width: 24px;
      &::before {
        border-style: solid;
        border-color:$white;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease;
      }
    }
    &:hover {
      background: $hoverDarkBlack;
      div.chevron {
        &::before {
          border-color:white;
          opacity: 1;
        }
      }
    }
  }
  &.open {
    transform: translateX(0%);
    div.openNavTab {
      div.chevron {
        transform:translate(4px, 0px);
        &::before {
          transform: rotate(-135deg);
        }
      }
    }
    section,nav {
      transform: translate(0, 0);
    }
  }
  section,nav {
    transform: translate(-20px, 0);
  }
}

div.side-navigation-inner {
  padding: 20px 0;
  font-size: 13px;
  nav {
    padding-bottom: 5px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey01;
    span {
      text-transform: uppercase;
      color: $grey06;
      padding: 3px 0px;
      margin-bottom: 5px;
      display: inline-block;
      cursor:default;
      border-bottom: 1px solid $darkestBlack;
      &.selected {
        color: $grey;
      }
      &:hover {
        color: $grey;
        // border-bottom: 1px solid $grey;
      }
    }
  }
  section.filters {
    text-align: right;
    padding-top: 30px;
    // background: red;
    h3 {
      display: inline-block;
      font-weight: 700;
      padding: 0 0 12px 20px;
      font-size: 16px;
      width: calc(100%);
      text-align: left;
      color: $white;
    }
    div.single-filter {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 11px 20px;
      h4, span {
        // background: red;
        font-size: 13px;
        font-weight: 300;
        text-align: left;
        cursor: default;
        color: $grey;
        padding: 0px;
        display: inline-block;
        width: 15px;
      }
      h4 {
        width: 60%;
      }
      &:hover {
        background: $hoverDarkBlack;
      }


    }
  }
}

span.checkbox {
  margin-top: 1px;
	width: 13px;
	height: 13px;
	position: relative;
  input[type=checkbox] {
  	visibility: hidden;
  }
  label {
    border-radius: 100%;
  	display: block;
  	width: 13px;
  	height: 13px;
  	cursor: pointer;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	z-index: 1;
  	background: $darkestBlack;
    border: 1px solid $grey;
  }
  input[type=checkbox]:checked + label {
  	background: $white;
    border: 1px solid $white;
  }
}
