@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
div.side-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #121214;
  width: 240px;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 1;
  transform: translateX(calc(-100% + 35px));
  height: 100%; }
  div.side-navigation div.openNavTab {
    position: relative;
    width: 100%;
    height: 55px; }
    div.side-navigation div.openNavTab div.chevron {
      position: absolute;
      top: 18px;
      right: 11px;
      width: 24px; }
      div.side-navigation div.openNavTab div.chevron::before {
        border-style: solid;
        border-color: #ffffff;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease; }
    div.side-navigation div.openNavTab:hover {
      background: #19191c; }
      div.side-navigation div.openNavTab:hover div.chevron::before {
        border-color: white;
        opacity: 1; }
  div.side-navigation.open {
    transform: translateX(0%); }
    div.side-navigation.open div.openNavTab div.chevron {
      transform: translate(4px, 0px); }
      div.side-navigation.open div.openNavTab div.chevron::before {
        transform: rotate(-135deg); }
    div.side-navigation.open section, div.side-navigation.open nav {
      transform: translate(0, 0); }
  div.side-navigation section, div.side-navigation nav {
    transform: translate(-40px, 0); }

div.side-navigation-inner {
  padding: 5px 0;
  font-size: 13px;
  height: calc(100% - 120px); }
  div.side-navigation-inner nav {
    padding: 0 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(242, 242, 242, 0.1); }
    div.side-navigation-inner nav span {
      text-transform: uppercase;
      color: rgba(242, 242, 242, 0.6);
      padding: 3px 0px;
      margin-bottom: 5px;
      display: inline-block;
      cursor: default;
      border-bottom: 1px solid #121214; }
      div.side-navigation-inner nav span.selected {
        color: #f2f2f2; }
      div.side-navigation-inner nav span:hover {
        color: #f2f2f2; }
  div.side-navigation-inner section.filters {
    text-align: right;
    padding: 0px 0;
    height: 100%;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(242, 242, 242, 0.1); }
    div.side-navigation-inner section.filters div.parent-name {
      padding-top: 15px;
      position: relative;
      border-top: 1px solid rgba(242, 242, 242, 0.1); }
      div.side-navigation-inner section.filters div.parent-name h3 {
        display: inline-block;
        font-weight: 300;
        padding: 0 0 10px 20px;
        font-size: 14px;
        width: calc(100%);
        text-align: left;
        color: #ffffff;
        text-transform: uppercase; }
      div.side-navigation-inner section.filters div.parent-name div {
        position: absolute;
        display: inline-block;
        top: 2px;
        right: 17px;
        width: 31px;
        height: 14px;
        border: 1px solid #adadad;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.1s ease; }
        div.side-navigation-inner section.filters div.parent-name div span {
          margin-top: -3px;
          margin-right: -1px;
          display: inline-block;
          width: 18px;
          height: 18px;
          background: #adadad;
          border-radius: 100%;
          transform: translateX(-14px);
          transition: 0.1s ease; }
        div.side-navigation-inner section.filters div.parent-name div.active {
          border: 1px solid #28af4e;
          background: #28af4e; }
          div.side-navigation-inner section.filters div.parent-name div.active span {
            background: #d6d6d6;
            transform: translateX(0px); }
        div.side-navigation-inner section.filters div.parent-name div:hover span {
          background: #ffffff; }
    div.side-navigation-inner section.filters div.single-filter {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 9px 20px;
      cursor: pointer; }
      div.side-navigation-inner section.filters div.single-filter:last-of-type {
        margin-bottom: 30px; }
      div.side-navigation-inner section.filters div.single-filter h4, div.side-navigation-inner section.filters div.single-filter span {
        display: inline-block; }
      div.side-navigation-inner section.filters div.single-filter h4 {
        color: #adadad;
        cursor: inherit;
        width: 90%;
        font-size: 13px;
        font-weight: 300;
        text-transform: capitalize;
        text-indent: 15px;
        overflow-x: scroll;
        white-space: nowrap; }
      div.side-navigation-inner section.filters div.single-filter span {
        margin-top: 1px;
        width: 13px;
        height: 13px;
        border: 1px solid #adadad;
        border-radius: 100%; }
      div.side-navigation-inner section.filters div.single-filter:hover {
        background: #19191c; }
        div.side-navigation-inner section.filters div.single-filter:hover span {
          border: 1px solid #ffffff; }
        div.side-navigation-inner section.filters div.single-filter:hover h4 {
          color: #ffffff; }
      div.side-navigation-inner section.filters div.single-filter.active span {
        border: 1px solid #28af4e;
        background: #28af4e; }
      div.side-navigation-inner section.filters div.single-filter.active h4 {
        color: #ffffff; }
