@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
div.side-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #121214;
  width: 240px;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 0.95;
  transform: translateX(calc(-100% + 35px)); }
  div.side-navigation div.openNavTab {
    position: relative;
    width: 100%;
    height: 55px; }
    div.side-navigation div.openNavTab div.chevron {
      position: absolute;
      top: 18px;
      right: 11px;
      width: 24px; }
      div.side-navigation div.openNavTab div.chevron::before {
        border-style: solid;
        border-color: #ffffff;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease; }
    div.side-navigation div.openNavTab:hover {
      background: #19191c; }
      div.side-navigation div.openNavTab:hover div.chevron::before {
        border-color: white;
        opacity: 1; }
  div.side-navigation.open {
    transform: translateX(0%); }
    div.side-navigation.open div.openNavTab div.chevron {
      transform: translate(4px, 0px); }
      div.side-navigation.open div.openNavTab div.chevron::before {
        transform: rotate(-135deg); }
    div.side-navigation.open section, div.side-navigation.open nav {
      transform: translate(0, 0); }
  div.side-navigation section, div.side-navigation nav {
    transform: translate(-20px, 0); }

div.side-navigation-inner {
  padding: 20px 0;
  font-size: 13px; }
  div.side-navigation-inner nav {
    padding-bottom: 5px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(242, 242, 242, 0.1); }
    div.side-navigation-inner nav span {
      text-transform: uppercase;
      color: rgba(242, 242, 242, 0.6);
      padding: 3px 0px;
      margin-bottom: 5px;
      display: inline-block;
      cursor: default;
      border-bottom: 1px solid #121214; }
      div.side-navigation-inner nav span.selected {
        color: #f2f2f2; }
      div.side-navigation-inner nav span:hover {
        color: #f2f2f2; }
  div.side-navigation-inner section.filters {
    text-align: right;
    padding-top: 30px; }
    div.side-navigation-inner section.filters h3 {
      display: inline-block;
      font-weight: 700;
      padding: 0 0 12px 20px;
      font-size: 16px;
      width: calc(100%);
      text-align: left;
      color: #ffffff; }
    div.side-navigation-inner section.filters div.single-filter {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 11px 20px; }
      div.side-navigation-inner section.filters div.single-filter h4, div.side-navigation-inner section.filters div.single-filter span {
        font-size: 13px;
        font-weight: 300;
        text-align: left;
        cursor: default;
        color: #f2f2f2;
        padding: 0px;
        display: inline-block;
        width: 15px; }
      div.side-navigation-inner section.filters div.single-filter h4 {
        width: 60%; }
      div.side-navigation-inner section.filters div.single-filter:hover {
        background: #19191c; }

span.checkbox {
  margin-top: 1px;
  width: 13px;
  height: 13px;
  position: relative; }
  span.checkbox input[type=checkbox] {
    visibility: hidden; }
  span.checkbox label {
    border-radius: 100%;
    display: block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #121214;
    border: 1px solid #f2f2f2; }
  span.checkbox input[type=checkbox]:checked + label {
    background: #ffffff;
    border: 1px solid #ffffff; }
