@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;

$green: #28af4e;
$grey: rgb(242, 242, 242);
$grey06: rgba(242, 242, 242, 0.6);
// $grey08: rgba(242, 242, 242, 0.8);
$grey08: #adadad;
$grey01: rgba(242, 242, 242, 0.1);
$white: #ffffff;
$offWhite: #d6d6d6;

div.side-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  background: $darkestBlack;
  width: 240px;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 1;
  transform: translateX(calc(-100% + 35px));
  height: 100%;
  div.openNavTab {
    position: relative;
    // background: red;
    width: 100%;
    height: 55px;
    div.chevron {
      position: absolute;
      top: 18px;
      right: 11px;
      width: 24px;
      &::before {
        border-style: solid;
        border-color:$white;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease;
      }
    }
    &:hover {
      background: $hoverDarkBlack;
      div.chevron {
        &::before {
          border-color:white;
          opacity: 1;
        }
      }
    }
  }
  &.open {
    transform: translateX(0%);
    div.openNavTab {
      div.chevron {
        transform:translate(4px, 0px);
        &::before {
          transform: rotate(-135deg);
        }
      }
    }
    section,nav {
      transform: translate(0, 0);
    }
  }
  section,nav {
    transform: translate(-20px, 0);
  }
}

div.side-navigation-inner {
  padding: 5px 0;
  font-size: 13px;
  height: calc(100% - 120px);
  // overflow: hidden;
  nav {
    padding: 0 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey01;
    span {
      text-transform: uppercase;
      color: $grey06;
      padding: 3px 0px;
      margin-bottom: 5px;
      display: inline-block;
      cursor:default;
      border-bottom: 1px solid $darkestBlack;
      &.selected {
        color: $grey;
      }
      &:hover {
        color: $grey;
        // border-bottom: 1px solid $grey;
      }
    }
  }
  section.filters {
    text-align: right;
    padding: 30px 0;
    // background: red;
    height: 100%;
    overflow-y: scroll;
    border-bottom: 1px solid $grey01;
    div.parent-name {
      position: relative;
      h3 {
        display: inline-block;
        font-weight: 300;
        padding: 0 0 10px 20px;
        font-size: 14px;
        width: calc(100%);
        text-align: left;
        color: $white;
        text-transform: uppercase;
      }
      div {
        position: absolute;
        display: inline-block;
        top:2px;
        right: 17px;
        width: 31px;
        height: 14px;
        border: 1px solid $grey08;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.1s ease;
        span {
          margin-top: -3px;
          margin-right: -1px;
          display: inline-block;
          width: 18px;
          height: 18px;
          background: $grey08;
          border-radius: 100%;
          transform: translateX(-14px);
          transition: 0.1s ease;
        }
        &.active {
          border: 1px solid $green;
          background: $green;
          span {
            background: $offWhite;
            transform: translateX(0px);
          }
        }
        &:hover {
          span {
            background: $white;
          }
        }
      }
    }
    div.single-filter {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 9px 20px;
      cursor: pointer;
      &:last-of-type {
        margin-bottom: 30px;
      }
      h4, span {
        display: inline-block;
      }
      h4 {
        color: $grey08;
        cursor: inherit;
        width: 90%;
        font-size: 13px;
        font-weight: 300;
        text-transform: capitalize;
        text-indent: 15px;
        overflow-x: scroll;
        white-space: nowrap;
      }
      span {
        margin-top: 1px;
        width: 13px;
        height: 13px;
        border: 1px solid $grey08;
        border-radius: 100%;
      }
      &:hover {
        background: $hoverDarkBlack;
        span {border: 1px solid $white; }
        h4 {color: $white;}
      }
      &.active {
        span {
          border: 1px solid $green;
          background: $green;
        }
        h4 {color: $white;}
      }

    }
  }
}
