@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;

$green: #28af4e;
$grey: rgb(242, 242, 242);
$grey06: #939393;
$grey08: #adadad;
$grey01: #262626;
$white: #ffffff;
$red: #c10d34;
$offWhite: #d6d6d6;

$connections: #D3AB9E; // ce740e // D3AB9E// D1CCDC //  D5C7BC
$people: #08a8a8;
$skills: #2b23c4;

div.side-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  background: $darkestBlack;
  width: 260px;
  z-index: 100;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 1;
  transform: translateX(calc(-100% + 35px));
  height: 100%;
  border-right: 1px solid $lighterBlack;
  div.openNavTab {
    position: relative;
    transition: 0.2s ease;
    width: 100%;
    height: 55px;
    div.chevron {
      display: none;
      position: absolute;
      top: 18px;
      right: 11px;
      width: 24px;
      &::before {
        border-style: solid;
        border-color:$white;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease;
      }
    }
    &:hover {
      background: inherit;
      div.chevron {
        &::before {
          opacity: 1;
          border-color:white;
        }
      }
    }
  }
  &.open {
    transform: translateX(0%);
    div.openNavTab {
      div.chevron {
        transform:translate(4px, 0px);
        &::before {
          transform: rotate(-135deg);
        }
      }
    }
    section,nav {
      transform: translate(0, 0);
    }
  }
  section,nav {
    transform: translate(-40px, 0);
  }
}

div.side-navigation-inner {
  padding: 0px 0;
  font-size: 13px;
  height: calc(100% - 120px);
  nav {
    padding: 0 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid $grey01;
    span {
      text-transform: uppercase;
      color: $grey06;
      padding: 3px 0px;
      margin-bottom: 5px;
      display: inline-block;
      cursor:default;
      border-bottom: 1px solid $darkestBlack;
      &.selected {
        color: $grey;
      }
      &:hover {
        color: $grey;
      }
    }
  }
  section.filters {
    text-align: right;
    padding: 0px 0;
    height: 100%;
    overflow-y: scroll;
    div.Collapsible {
      padding: 15px 0 15px 0;
      position: relative;
      border-top: 1px solid $grey01;
      &.sub-group {
        padding: 5px 0 5px 0 !important;
        margin: 0px 0px 0px 0px !important;
        border-top: 0px solid $grey01 !important;
      }
      span.Collapsible__trigger {
        position: relative;
        display: inline-block;
        font-weight: 300;
        padding: 5px 0 5px 20px;
        font-size: 14px;
        width: calc(70%);
        margin-right: 30%;
        text-align: left;
        color: $offWhite;
        text-transform: uppercase;
        cursor: default;
        transition: 0.1s ease;
        &.is-open {
          padding-bottom: 15px;
          &:after {
            transform: rotate(90deg);
          }
        }
        &:hover {
          color: $white;
          &:after, &:before  {
            background:$white;
          }
        }
        &:after {
          transition: 0.1s ease;
          content: '';
          position: absolute;
          background:$offWhite;
          width: 1px;
          right: 18px;
          top: 5px;
          height: 15px;
        }
        &:before {
          transition: 0.1s ease;
          content: '';
          position: absolute;
          background:$offWhite;
          width: 15px;
          right: 11px;
          top: 12px;
          height: 1px;
        }
      }
      div.select-all {
        position: absolute;
        display: inline-block;
        top:20px;
        right: 17px;
        width: 31px;
        height: 14px;
        border: 1px solid $grey08;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.1s ease;
        &.sub-group {
          top:11px;
        }
        span {
          margin-top: -3px;
          margin-right: -1px;
          display: inline-block;
          width: 18px;
          height: 18px;
          background: $grey08;
          border-radius: 100%;
          transform: translateX(-14px);
          transition: 0.1s ease;
        }
        &.active {
          border: 1px solid $green;
          background: $green;
          span {
            background: $offWhite;
            transform: translateX(0px);
          }
        }
        &:hover {
          span {
            background: $white;
          }
        }
      }
    }

    div.single-filter {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 9px 20px;
      cursor: pointer;
      &:last-of-type {
        margin-bottom: 15px;
      }
      h4, span {
        display: inline-block;
      }
      h4 {
        color: $grey08;
        cursor: inherit;
        width: 90%;
        font-size: 13px;
        font-weight: 300;
        text-transform: capitalize;
        // text-indent: 15px;
        padding-left: 15px;
        // overflow-x: scroll;
        white-space: nowrap;
      }
      span {
        margin-top: 1px;
        width: 13px;
        height: 13px;
        border: 1px solid $grey08;
        border-radius: 100%;
      }
      &:hover {
        background: $hoverDarkBlack;
        span {border: 1px solid $white; }
        h4 {color: $white;}
      }
      &.active {
        span {
          border: 1px solid $green;
          background: $green;
        }
        h4 {color: $white;}
      }
      &.connectionFilterActive {
        span {
          position: relative;
          border: 1px solid $red !important;
          background: $darkestBlack !important;
          background: $red !important;
          // &:before, &:after {
          //   position: absolute;
          //   right: 5px;
          //   content: '';
          //   height: 14px;
          //   top: -1px;
          //   width: 1px;
          //   // background: $darkestBlack;
          // }
          // &:before {
          //   transform: rotate(45deg);
          // }
          &:after {
            position: absolute;
            content: '';
            top: 3px;
            right: 3px;
            width: 5px;
            height: 5px;
            background: $red;
            // border: 1px solid $grey08;
            border-radius: 100%;
          }
        }
        h4 {color: $white;}
      }
    }
  }
}


div.single-filter { // change colours for different visual elements here
  &.active.connections span {
    border: 1px solid $connections !important;
    background: $connections !important;
  }
  &.active.people span {
    border: 1px solid $people !important;
    background: $people !important;
  }
  &.active.skills span {
    border: 1px solid $skills !important;
    background: $skills !important;
  }
}

div.select-all { // change colours for different visual elements here
  &.active.connections {
    border: 1px solid $connections !important;
    background: $connections !important;
  }
  &.active.people {
    border: 1px solid $people !important;
    background: $people !important;
  }
  &.active.skills {
    border: 1px solid $skills !important;
    background: $skills !important;
  }
}



div.slider-wrap {
  padding: 10px 25px 18px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > span.title {
    display: inline-block;
    color: $grey08;
    cursor: inherit;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    padding-left: 30px;
    // overflow-x: scroll;
    text-align: left;
    opacity: 0.999;
    z-index: 100;
    &.active {
      font-weight: 300;
      color: $red;
      opacity:0.999;
    }
  }
  div.rc-slider {
    height: 0px;
    width: 45%;
    div.rc-slider-handle {
      cursor: pointer;
      border-width: 0px;
      background: $offWhite;
      outline: none;
      transition: 0.1s ease-out;
      box-shadow: 0px 0px #888888;
    }
    div.rc-slider-track {
      cursor: pointer;
      background: $red;
    }
    div.rc-slider-rail {
      cursor: pointer;
      background: $grey06;
    }
    div.rc-slider-step {
      cursor: pointer;
      // background: $offWhite;
      span.rc-slider-dot{
        border-width: 0px;
        transform: scale(1.2, 1.2);
        background: $grey06;
      }
      span.rc-slider-dot-active {
        background: $green;
        background: $red;
      }
    }
    div.rc-slider-mark {
      top: 15px;
    }
    &:hover {
      div.rc-slider-handle {
        transform: scale(1.3, 1.3);
        background: $white;
      }
    }
  }
  span.rc-slider-mark-text {
    color: $grey01;
  }
  span.rc-slider-mark-text-active {
    color: $offWhite;
  }
}

input.search-box {
  line-height: 38px;
  height: 38px;
  display: inline-block;
  background: $hoverDarkBlack;
  outline: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  color: $offWhite;
  border: 1px solid $hoverDarkBlack;
  // border-bottom: 1px solid $grey01;
  width: 230px;
  font-size: 13px;
  // margin-right: 15px;
  margin: 5px 15px 10px 15px;
  text-indent: 20px;
  font-weight: 400;
  &:focus{
    border: 1px solid $lighterBlack;
    background: #dbdbdb;
    // background: $offWhite;
    color: $darkestBlack;
    &::placeholder{
      color: $darkestBlack;
    }
  }
  &::placeholder{
    color: $grey08;
  }
}

div.dd-menu {
  position: relative;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 10px;
  transition: 0.2s ease;
  div.group-by-button {
    height: 43px;
    line-height: 43px;
    margin: 0 15px 0 15px;
    cursor: default;
    text-indent: 20px;
    text-transform:none;
    font-weight: 300;
    color: $offWhite;
    text-align: left;
    border: 1px solid $grey01;
    transition: 0.2s ease;
    z-index: 11;
    &:hover {
      background: $hoverDarkBlack;
      color: $white;
    }
  }
  div.dd-menu-items {
    position: absolute;
    cursor: default;
    line-height: 43px;
    left: 15px;
    width: 230px;
    top: 42px;
    z-index: 10;
    background: $darkestBlack;
    -webkit-box-shadow: 0px 8px 36px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 36px -4px rgba(0,0,0,1);
    box-shadow: 0px 8px 36px -4px rgba(0,0,0,1);
    ul {
      border: 1px solid $grey01;
      padding: 0px 0px;
      z-index: 1000;
      div {
        z-index: 1000;
        padding: 0px 20px;
        color: $offWhite;
        text-align: center;
        text-align: left;
        &:hover {
          background: $hoverDarkBlack;
          color: $white;
        }
      }
    }
  }
}

div.dimension {
  font-family: sans-serif;
  position: absolute;
  color: $offWhite;
  font-size: 14px;
  display: inline-block;
  top: 19px;
  left: 310px;
  width: 45px;
  height: 22px;
  cursor: pointer;
  transition: 0.1s ease;
  &:hover {
    color: $white;
  }
}


@media only screen and (max-width: 600px) {
  div.side-navigation {
    width: 100%;
    min-width: 260px;
    div.chevron {
      display: block !important;
    }
    div.openNavTab {
      &:hover {
        background: $hoverDarkBlack !important;
      }
    }
  }
  input.search-box {
    width: calc(100% - 30px);
  }
}

@media only screen and (max-width: 450px) {
  div.side-navigation {
    width: 100%;
  }
}
