@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
div.side-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #121214;
  width: 260px;
  height: 100%;
  transition: 0.2s ease-out;
  opacity: 1;
  transform: translateX(calc(-100% + 35px));
  height: 100%; }
  div.side-navigation div.openNavTab {
    position: relative;
    width: 100%;
    height: 55px; }
    div.side-navigation div.openNavTab div.chevron {
      position: absolute;
      top: 18px;
      right: 11px;
      width: 24px; }
      div.side-navigation div.openNavTab div.chevron::before {
        border-style: solid;
        border-color: #ffffff;
        opacity: 0.6;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 16px;
        transform: rotate(45deg);
        width: 16px;
        transition: 0.2s ease; }
  div.side-navigation.open {
    transform: translateX(0%); }
    div.side-navigation.open div.openNavTab div.chevron {
      transform: translate(4px, 0px); }
      div.side-navigation.open div.openNavTab div.chevron::before {
        transform: rotate(-135deg); }
    div.side-navigation.open section, div.side-navigation.open nav {
      transform: translate(0, 0); }
  div.side-navigation section, div.side-navigation nav {
    transform: translate(-40px, 0); }

div.side-navigation-inner {
  padding: 5px 0;
  font-size: 13px;
  height: calc(100% - 120px); }
  div.side-navigation-inner nav {
    padding: 0 20px 5px 20px;
    display: flex;
    justify-content: space-between; }
    div.side-navigation-inner nav span {
      text-transform: uppercase;
      color: #939393;
      padding: 3px 0px;
      margin-bottom: 5px;
      display: inline-block;
      cursor: default;
      border-bottom: 1px solid #121214; }
      div.side-navigation-inner nav span.selected {
        color: #f2f2f2; }
      div.side-navigation-inner nav span:hover {
        color: #f2f2f2; }
  div.side-navigation-inner section.filters {
    text-align: right;
    padding: 0px 0;
    height: 100%;
    overflow-y: scroll; }
    div.side-navigation-inner section.filters div.Collapsible {
      padding: 15px 0 15px 0;
      position: relative;
      border-top: 1px solid #262626; }
      div.side-navigation-inner section.filters div.Collapsible.sub-group {
        padding: 5px 0 5px 0 !important;
        margin: 0px 0px 0px 0px !important;
        border-top: 0px solid #262626 !important; }
      div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger {
        position: relative;
        display: inline-block;
        font-weight: 300;
        padding: 5px 0 5px 20px;
        font-size: 14px;
        width: calc(70%);
        margin-right: 30%;
        text-align: left;
        color: #d6d6d6;
        text-transform: uppercase;
        cursor: default;
        transition: 0.1s ease; }
        div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger.is-open {
          padding-bottom: 15px; }
          div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger.is-open:after {
            transform: rotate(90deg); }
        div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger:hover {
          color: #ffffff; }
          div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger:hover:after, div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger:hover:before {
            background: #ffffff; }
        div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger:after {
          transition: 0.1s ease;
          content: '';
          position: absolute;
          background: #d6d6d6;
          width: 1px;
          right: 18px;
          top: 5px;
          height: 15px; }
        div.side-navigation-inner section.filters div.Collapsible span.Collapsible__trigger:before {
          transition: 0.1s ease;
          content: '';
          position: absolute;
          background: #d6d6d6;
          width: 15px;
          right: 11px;
          top: 12px;
          height: 1px; }
      div.side-navigation-inner section.filters div.Collapsible div.select-all {
        position: absolute;
        display: inline-block;
        top: 20px;
        right: 17px;
        width: 31px;
        height: 14px;
        border: 1px solid #adadad;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.1s ease; }
        div.side-navigation-inner section.filters div.Collapsible div.select-all.sub-group {
          top: 11px; }
        div.side-navigation-inner section.filters div.Collapsible div.select-all span {
          margin-top: -3px;
          margin-right: -1px;
          display: inline-block;
          width: 18px;
          height: 18px;
          background: #adadad;
          border-radius: 100%;
          transform: translateX(-14px);
          transition: 0.1s ease; }
        div.side-navigation-inner section.filters div.Collapsible div.select-all.active {
          border: 1px solid #28af4e;
          background: #28af4e; }
          div.side-navigation-inner section.filters div.Collapsible div.select-all.active span {
            background: #d6d6d6;
            transform: translateX(0px); }
        div.side-navigation-inner section.filters div.Collapsible div.select-all:hover span {
          background: #ffffff; }
    div.side-navigation-inner section.filters div.single-filter {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 9px 20px;
      cursor: pointer; }
      div.side-navigation-inner section.filters div.single-filter:last-of-type {
        margin-bottom: 15px; }
      div.side-navigation-inner section.filters div.single-filter h4, div.side-navigation-inner section.filters div.single-filter span {
        display: inline-block; }
      div.side-navigation-inner section.filters div.single-filter h4 {
        color: #adadad;
        cursor: inherit;
        width: 90%;
        font-size: 13px;
        font-weight: 300;
        text-transform: capitalize;
        padding-left: 15px;
        white-space: nowrap; }
      div.side-navigation-inner section.filters div.single-filter span {
        margin-top: 1px;
        width: 13px;
        height: 13px;
        border: 1px solid #adadad;
        border-radius: 100%; }
      div.side-navigation-inner section.filters div.single-filter:hover {
        background: #19191c; }
        div.side-navigation-inner section.filters div.single-filter:hover span {
          border: 1px solid #ffffff; }
        div.side-navigation-inner section.filters div.single-filter:hover h4 {
          color: #ffffff; }
      div.side-navigation-inner section.filters div.single-filter.active span {
        border: 1px solid #28af4e;
        background: #28af4e; }
      div.side-navigation-inner section.filters div.single-filter.active h4 {
        color: #ffffff; }
      div.side-navigation-inner section.filters div.single-filter.connectionFilterActive span {
        position: relative;
        border: 1px solid #c10d34 !important;
        background: #121214 !important;
        background: #c10d34 !important; }
        div.side-navigation-inner section.filters div.single-filter.connectionFilterActive span:after {
          position: absolute;
          content: '';
          top: 3px;
          right: 3px;
          width: 5px;
          height: 5px;
          background: #c10d34;
          border-radius: 100%; }
      div.side-navigation-inner section.filters div.single-filter.connectionFilterActive h4 {
        color: #ffffff; }

div.single-filter.active.connections span {
  border: 1px solid #D3AB9E !important;
  background: #D3AB9E !important; }

div.single-filter.active.people span {
  border: 1px solid #08a8a8 !important;
  background: #08a8a8 !important; }

div.single-filter.active.skills span {
  border: 1px solid #2b23c4 !important;
  background: #2b23c4 !important; }

div.select-all.active.connections {
  border: 1px solid #D3AB9E !important;
  background: #D3AB9E !important; }

div.select-all.active.people {
  border: 1px solid #08a8a8 !important;
  background: #08a8a8 !important; }

div.select-all.active.skills {
  border: 1px solid #2b23c4 !important;
  background: #2b23c4 !important; }

div.slider-wrap {
  padding: 10px 25px 18px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  div.slider-wrap > span.title {
    display: inline-block;
    color: #adadad;
    cursor: inherit;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    padding-left: 30px;
    text-align: left;
    opacity: 0.999;
    z-index: 100; }
    div.slider-wrap > span.title.active {
      font-weight: 300;
      color: #c10d34;
      opacity: 0.999; }
  div.slider-wrap div.rc-slider {
    height: 0px;
    width: 45%; }
    div.slider-wrap div.rc-slider div.rc-slider-handle {
      cursor: pointer;
      border-width: 0px;
      background: #d6d6d6;
      outline: none;
      transition: 0.1s ease-out;
      box-shadow: 0px 0px #888888; }
    div.slider-wrap div.rc-slider div.rc-slider-track {
      cursor: pointer;
      background: #c10d34; }
    div.slider-wrap div.rc-slider div.rc-slider-rail {
      cursor: pointer;
      background: #939393; }
    div.slider-wrap div.rc-slider div.rc-slider-step {
      cursor: pointer; }
      div.slider-wrap div.rc-slider div.rc-slider-step span.rc-slider-dot {
        border-width: 0px;
        transform: scale(1.2, 1.2);
        background: #939393; }
      div.slider-wrap div.rc-slider div.rc-slider-step span.rc-slider-dot-active {
        background: #28af4e;
        background: #c10d34; }
    div.slider-wrap div.rc-slider div.rc-slider-mark {
      top: 15px; }
    div.slider-wrap div.rc-slider:hover div.rc-slider-handle {
      transform: scale(1.3, 1.3);
      background: #ffffff; }
  div.slider-wrap span.rc-slider-mark-text {
    color: #262626; }
  div.slider-wrap span.rc-slider-mark-text-active {
    color: #d6d6d6; }

input.search-box {
  line-height: 38px;
  height: 38px;
  display: inline-block;
  background: #19191c;
  outline: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  color: #d6d6d6;
  border: 1px solid #19191c;
  width: 230px;
  font-size: 13px;
  margin: 5px 15px 10px 15px;
  text-indent: 20px;
  font-weight: 400; }
  input.search-box:focus {
    border: 1px solid #212123;
    background: #dbdbdb;
    color: #121214; }
    input.search-box:focus::placeholder {
      color: #121214; }
  input.search-box::placeholder {
    color: #adadad; }

div.dd-menu {
  position: relative;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 10px;
  transition: 0.2s ease; }
  div.dd-menu div.group-by-button {
    height: 43px;
    line-height: 43px;
    margin: 0 15px 0 15px;
    cursor: default;
    text-indent: 20px;
    text-transform: none;
    font-weight: 300;
    color: #d6d6d6;
    text-align: left;
    border: 1px solid #262626;
    transition: 0.2s ease;
    z-index: 11; }
    div.dd-menu div.group-by-button:hover {
      background: #19191c;
      color: #ffffff; }
  div.dd-menu div.dd-menu-items {
    position: absolute;
    cursor: default;
    line-height: 43px;
    left: 15px;
    width: 230px;
    top: 42px;
    z-index: 10;
    background: #121214;
    -webkit-box-shadow: 0px 8px 36px -4px black;
    -moz-box-shadow: 0px 8px 36px -4px black;
    box-shadow: 0px 8px 36px -4px black; }
    div.dd-menu div.dd-menu-items ul {
      border: 1px solid #262626;
      padding: 0px 0px;
      z-index: 1000; }
      div.dd-menu div.dd-menu-items ul div {
        z-index: 1000;
        padding: 0px 20px;
        color: #d6d6d6;
        text-align: center;
        text-align: left; }
        div.dd-menu div.dd-menu-items ul div:hover {
          background: #19191c;
          color: #ffffff; }

div.dimension {
  font-family: sans-serif;
  position: absolute;
  color: #d6d6d6;
  font-size: 14px;
  display: inline-block;
  top: 19px;
  left: 310px;
  width: 45px;
  height: 22px;
  cursor: pointer;
  transition: 0.1s ease; }
  div.dimension:hover {
    color: #ffffff; }
