
$darkestBlack:#121214;
$hoverDarkBlack:#19191c;
$lighterBlack:#212123;
$green: #28af4e;
$grey: rgb(242, 242, 242);
$grey06: #939393;
$grey08: #adadad;
$grey01: #262626;
$white: #ffffff;
$red: #c10d34;
$offWhite: #d6d6d6;

$bluegrey: #353b44;


.loader {
  position: absolute;
  top: 50%;
  left: 47%;
}

.bubble {
  animation: expand .75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 8px;
  width: 20px;
  height: 20px;
}

.bubble:nth-child(1) {
  background: $bluegrey;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: $bluegrey;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: $bluegrey;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: $bluegrey;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}
